<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
   <div class="container">
      <div class="navbar-collapse collapse">
         <ul class="navbar-nav">
             <% for(let i in locals.header){ %>
                <li class="nav-item">
                    <a class="nav-link <%- oldal === i ?"active":"" %>" href="<%- locals.header[i][0] %>"><%- locals.header[i][1] %></a>
                </li>
             <% } %>
      </div>
   </div>
</nav>
