<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
   <div class="container">
      <div class="navbar-collapse collapse">
         <ul class="navbar-nav">
             <% for(let i in locals.header){ %>

                <% if( !locals.curr_email  && // nincs bejelentkezve
                        (locals.user_only.includes(i) ||
                         locals.admin_only.includes(i) ||
                         locals.user_and_admin_only.includes(i) )) continue %>

                <% if( locals.curr_role === 0  && // user van bejelentkezve
                        ( locals.admin_only.includes(i) ||
                          locals.guest__only.includes(i) )) continue %>

                <% if( locals.curr_role === 1 &&  
                ( locals.guest_only.includes(i) ||
                  locals.user_only.includes(i) ||
                  locals.guest_and_user_only.includes(i) )) continue %>
                <li class="nav-item">
                    <a class="nav-link <%- oldal.includes(i) ?"active":"" %>" href="<%- i %>"><%- locals.header[i] %></a>
                </li>
            <% }%>
      </div>
   </div>
</nav>
