<header class="mb-7 pb-1">
    <div>
        <div class="bg-punch-light">
            <div class="container py-3 py-md-4">
                <div class="d-flex align-items-center position-relative flex-wrap">
                    <div class="d-none d-xl-flex align-items-center mt-3 mt-md-0 mr-md-auto">

                        <a href="mailto:info@oazis.com" class="mr-4 mb-4 mb-md-0">
                            <div class="d-flex align-items-center text-dark font-size-2 text-lh-sm">
                                <i class="flaticon-question font-size-5 mt-2 mr-1"></i>
                                <div class="ml-2">
                                    <span class="text-secondary-gray-1090 font-size-1">info@oazis.com</span>
                                    <div class="h6 mb-0">Küldj e-mailt!</div>
                                </div>
                            </div>
                        </a>


                        <a href="tel:+36 30 999 9999">
                            <div class="d-flex align-items-center text-dark font-size-2 text-lh-sm">
                                <i class="flaticon-phone font-size-5 mt-2 mr-1"></i>
                                <div class="ml-2">
                                    <span class="text-secondary-gray-1090 font-size-1">+36 30 999 9999</span>
                                    <div class="h6 mb-0">Hívjon minket!</div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="site-branding pr-md-7 mx-auto mx-md-0">
                        <a href="index.html" class="d-block mb-1"><img src="oazis.svg" width="120px" height="100px" alt="logo"></a>
                    </div>
                    <div class="d-flex align-items-center ml-auto">
                        <% if(!locals.curr_email) { %>
                            <a class="pr-md-3" href="login">
                                <div class="d-flex align-items-center text-dark font-size-2 text-lh-sm">
                                    <i class="flaticon-user font-size-5"></i>
                                    <div class="ml-2 d-none d-md-block">
                                        <span class="text-secondary-gray-1090 font-size-1">Belépés a</span>
                                        <div class="h6 mb-0">Fiókomba</div>
                                    </div>
                                </div>
                            </a>
                            <a href="regist">
                                <div class="d-flex align-items-center text-dark font-size-2 text-lh-sm position-relative">
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="24px" height="24px" viewBox="0 0 512 512" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g><path style="opacity:0.978" fill="#000000" d="M 142.5,41.5 C 220.194,41.0207 297.861,41.5207 375.5,43C 403.641,50.1416 420.475,67.975 426,96.5C 426.667,122.833 426.667,149.167 426,175.5C 419.203,191.101 408.036,195.268 392.5,188C 388.512,185.013 385.679,181.18 384,176.5C 383.667,153.167 383.333,129.833 383,106.5C 382.442,97.6226 378.275,91.1226 370.5,87C 294.89,85.3425 219.224,85.0092 143.5,86C 133.878,89.3908 128.711,96.2241 128,106.5C 127.014,207.863 127.347,309.196 129,410.5C 131.167,418 136,422.833 143.5,425C 167.5,425.333 191.5,425.667 215.5,426C 230.198,430.553 235.698,440.386 232,455.5C 228.952,462.947 223.452,467.447 215.5,469C 191.167,469.667 166.833,469.667 142.5,469C 110.691,464.192 91.5247,446.025 85,414.5C 84.3333,308.5 84.3333,202.5 85,96.5C 91.6999,64.9637 110.867,46.6303 142.5,41.5 Z"/></g>
                                        <g><path style="opacity:0.982" fill="#000000" d="M 185.5,148.5 C 232.168,148.333 278.835,148.5 325.5,149C 337.156,153.468 342.323,161.968 341,174.5C 339.025,182.477 334.192,187.977 326.5,191C 279.167,191.667 231.833,191.667 184.5,191C 171.947,185.349 167.447,175.849 171,162.5C 173.774,155.557 178.607,150.89 185.5,148.5 Z"/></g>
                                        <g><path style="opacity:0.972" fill="#000000" d="M 382.5,220.5 C 391.79,219.74 400.79,220.906 409.5,224C 424.663,232.414 439.663,241.081 454.5,250C 469.848,263.382 474.682,279.882 469,299.5C 439.586,351.33 409.919,402.996 380,454.5C 376.466,458.369 372.633,461.869 368.5,465C 353.996,474.084 339.663,483.418 325.5,493C 304.353,501.671 286.186,497.504 271,480.5C 264.948,472.343 262.115,463.176 262.5,453C 263.471,434.82 264.638,416.653 266,398.5C 266.511,396.122 267.178,393.788 268,391.5C 297.414,339.67 327.081,288.004 357,236.5C 363.907,228.472 372.407,223.138 382.5,220.5 Z M 391.5,264.5 C 403.635,271.068 415.635,277.902 427.5,285C 399.874,332.418 372.374,379.918 345,427.5C 332.586,435.957 320.086,444.291 307.5,452.5C 307.167,450.5 306.833,448.5 306.5,446.5C 307.392,433.504 308.225,420.504 309,407.5C 336.512,359.806 364.012,312.139 391.5,264.5 Z"/></g>
                                        <g><path style="opacity:0.962" fill="#000000" d="M 187.5,233.5 C 221.168,233.333 254.835,233.5 288.5,234C 300.85,237.538 306.683,245.705 306,258.5C 303.936,268.231 298.103,274.397 288.5,277C 254.833,277.667 221.167,277.667 187.5,277C 172.802,272.447 167.302,262.614 171,247.5C 174.283,240.124 179.783,235.457 187.5,233.5 Z"/></g>
                                        <g><path style="opacity:0.973" fill="#000000" d="M 184.5,319.5 C 205.567,319.034 226.567,319.534 247.5,321C 258.529,327.563 262.029,337.063 258,349.5C 255.014,355.82 250.181,359.987 243.5,362C 223.102,362.964 202.769,362.631 182.5,361C 169.799,353.039 166.632,342.206 173,328.5C 176.161,324.491 179.994,321.491 184.5,319.5 Z"/></g>
                                        </svg>
                                    </i>
                                    <div class="ml-2 d-none d-md-block">
                                        <span class="text-secondary-gray-1090 font-size-1">Regisztrálj</span>
                                        <div class="h6 mb-0">Oldalunkra</div>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                        <% if(locals.curr_email && locals.curr_role === 0) { %>
                            <a class="pr-md-3" href="kosar">
                                <div class="d-flex align-items-center text-dark font-size-2 text-lh-sm position-relative">
                                    <i class="flaticon-icon-126515 font-size-5"></i>
                                    <div class="ml-2 d-none d-md-block">
                                        <div class="h6 mb-0">Kosaram</div>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                        <% if(locals.curr_email) { %>
                            <a href="logout">
                                <div class="d-flex align-items-center text-dark font-size-2 text-lh-sm">
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="23px" height="23px" viewBox="0 0 512 512" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g><path style="opacity:0.979" fill="#000000" d="M 32.5,-0.5 C 119.5,-0.5 206.5,-0.5 293.5,-0.5C 317.719,5.8849 333.219,21.2182 340,45.5C 341.629,82.8 341.962,120.133 341,157.5C 336.297,169.961 327.797,173.461 315.5,168C 312.567,165.736 310.4,162.902 309,159.5C 308.667,124.5 308.333,89.5 308,54.5C 304.835,41.0043 296.335,33.5043 282.5,32C 237.833,31.3333 193.167,31.3333 148.5,32C 163.727,36.7421 178.727,42.0755 193.5,48C 202.479,54.4578 208.646,62.9578 212,73.5C 213.488,187.47 213.988,301.47 213.5,415.5C 236.502,415.667 259.502,415.5 282.5,415C 296.335,413.496 304.835,405.996 308,392.5C 308.333,357.5 308.667,322.5 309,287.5C 314.639,276.309 323.139,273.475 334.5,279C 337.106,280.938 338.939,283.438 340,286.5C 341.148,305.104 341.648,323.771 341.5,342.5C 341.629,362.202 341.129,381.869 340,401.5C 333.399,425.767 317.899,440.934 293.5,447C 266.835,447.5 240.169,447.667 213.5,447.5C 213.666,456.506 213.5,465.506 213,474.5C 209.616,494.044 198.449,506.377 179.5,511.5C 173.167,511.5 166.833,511.5 160.5,511.5C 114.571,496.135 68.5715,480.635 22.5,465C 10.859,458.201 3.19232,448.367 -0.5,435.5C -0.5,301.167 -0.5,166.833 -0.5,32.5C 4.83333,15.8333 15.8333,4.83333 32.5,-0.5 Z M 38.5,32.5 C 41.1873,32.3359 43.854,32.5026 46.5,33C 89.9818,47.2717 133.315,61.9383 176.5,77C 178.041,78.5793 179.208,80.4127 180,82.5C 180.667,211.833 180.667,341.167 180,470.5C 177.724,477.751 172.89,480.251 165.5,478C 122.018,463.728 78.6848,449.062 35.5,434C 34.7894,432.745 33.956,431.579 33,430.5C 31.3421,301.201 31.0088,171.868 32,42.5C 32.4352,37.9448 34.6018,34.6115 38.5,32.5 Z"/></g>
                                        <g><path style="opacity:0.977" fill="#000000" d="M 511.5,217.5 C 511.5,221.5 511.5,225.5 511.5,229.5C 483.425,259.077 454.758,288.243 425.5,317C 416.778,321.236 408.945,320.069 402,313.5C 398.667,306.833 398.667,300.167 402,293.5C 419.833,275.667 437.667,257.833 455.5,240C 399.167,239.667 342.833,239.333 286.5,239C 276.968,233.748 274.135,225.915 278,215.5C 279.907,211.961 282.74,209.461 286.5,208C 342.833,207.667 399.167,207.333 455.5,207C 437.667,189.167 419.833,171.333 402,153.5C 398.667,146.833 398.667,140.167 402,133.5C 408.945,126.931 416.778,125.764 425.5,130C 454.758,158.757 483.425,187.923 511.5,217.5 Z"/></g>
                                        </svg>
                                    </i>
                                    <div class="ml-2 d-none d-md-block">
                                        <span class="text-secondary-gray-1090 font-size-1">Kilépés a</span>
                                        <div class="h6 mb-0">Fiókomból</div>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-bottom py-1 d-none d-xl-block">
            <div class="container">
                <div class="d-md-flex align-items-center position-relative">
                    <div class="site-navigation mx-auto">
                        <ul class="nav">
                            <% for(let i in locals.header){ %>
                                <% if( !locals.curr_email  && // nincs bejelentkezve
                                    (locals.user_only.includes(i) ||
                                    locals.admin_only.includes(i) ||
                                    locals.user_and_admin_only.includes(i) )) continue %>

                                <% if( locals.curr_role === 0  && // user van bejelentkezve
                                    ( locals.admin_only.includes(i) ||
                                    locals.guest_only.includes(i) )) continue %>

                                <% if( locals.curr_role === 1 &&
                                    ( locals.guest_only.includes(i) ||
                                    locals.user_only.includes(i) ||
                                    locals.guest_and_user_only.includes(i) )) continue %>
                                <li class="nav-item">
                                    <a class="nav-link link-black-100 mx-3 px-0 py-3 font-weight-medium d-flex align-items-center <%- oldal.includes(i) ?"active":"" %>" href="<%- i %>"><%- locals.header[i] %></a>
                                </li>
                            <% }%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
