<% if( Array.isArray(locals.hiba)){ %>
    <% for(let i = 0; i < locals.hiba; i++){ %>
    <div class="center hiba text-center w-50">
        <p><%- locals.hiba[i] %></p>
    </div>
    <% } %>
<% }else{ %>
    <div class="center hiba text-center w-50">
        <p><%- locals.hiba %></p>
    </div>

<% } %>
