<div class="container-fluid w-75 text-center">
    <% for(let i in locals.oldalak){ %>
        <% if (i.toLowerCase() !== "statisztika") { %>
            <a class="<% if(locals.oldal.toLowerCase().includes(i)){ %>active <% } %>btn btn-info m-1 p-1" href="/upload<%- i.charAt(0).toUpperCase().concat(i.slice(1)) %>"><%- oldalak[i] %></a>
        <% } %>
    <% } %>
</div>
