<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <header><%- include('includes/header', {oldal: oldal}) %></header>
  <body>
    <div>
      <div>
        <% if(locals.siker){ %>
        <p class="fade-out siker">Sikeres bejelentkezés!</p>
        <% } %>
        <p style="font-size: 5vw; text-align: center">Üdv a weboldalon!</p>
        <div class="card-container">
          <% if(locals.table){ %> <% for(let i = 0; i <
          locals.table['rows'].length; i++){ %>
          <div class="card">
            <% for(let j = 0; j < locals.table['metaData'].length; j++){ %>
            <div class="container">
              <label name="{{ locals.table['metaData'][j]['name'] }}">
                <%= locals.table['rows'][i][j] %> <%
                if(locals.table['metaData'][j]['name'] == "Ar"){ %> Ft <% } %>
              </label>
            </div>
            <% } %> <% if(locals.curr_role === 1){%>
            <form action="/upload" method="get">
              <button type="submit" value="modifiy">szerkesztés</button>
            </form>
            <form action="/deleteKonyv" method="post">
              <button type="submit" value="delete">törlés</button>
            </form>
            <% } else { %>
            <form action="/addToKosar" method="post">
              <button
                type="submit"
                value="<%= locals.table['rows'][i][4] %>"
                name="isbn"
              >
                Kosárba
              </button>
            </form>
            <% } %>
          </div>
          <% } %> <% if(locals.curr_role === 1){%>
          <form action="/upload" method="get">
            <button type="submit" value="upload">hozzáadás</button>
          </form>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </body>
  <%#- include('includes/footer') %>
</html>
