<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
    </head>
    <header>
        <%- include('includes/header', {oldal: oldal}) %>
    </header>
    <body>
        <div >
            <div>
                <% if(locals.siker){ %>
                    <p class="fade-out siker">Sikeres bejelentkezés!</p>
                <% } %>
            <p style="font-size:5vw; text-align: center;">Üdv a weboldalon!</p>

            </div>
        </div>

    </body>
    <%#- include('includes/footer') %>
</html>
