<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<%- include('assets/header', {oldal: "index"}) %>
<body>
   <div id="page-container">
      <div>
         <p style="font-size:4vw; text-align: center;">Fullos étterem</p>
         <img src="/img/pizza01.jpg" alt="pizza" style="width: 100%; height:auto;">
      </div>
   </div>
   <%- include('assets/footer') %>
</body>
</html>