<!DOCTYPE html>
<html lang="en">
   <head>
     <%- include('assets/head') %>
   </head>
   <header>
      <%- include('assets/header', {oldal: "register"}) %>
   </header>
   <body>
       <h1 class="text-center">Új dolgozó regisztrálása</h1>
       <div class="center">
           <form class="form text-center" action="/register" method="post">
               <label>E-mail:
                   <input type="text" class="form-control" name="email_cim" >
               </label><br>
               <label>Név:
                   <input type="text" class="form-control" name="nev" >
               </label><br>
               <label>Jelszó:
                   <input type="password" class="form-control" name="jelszo" >
               </label><br>
               <label>Jelszó megint:
                   <input type="password" class="form-control" name="jelszo2" >
               </label><br>
               <input class="gomb mt-3" type="SUBMIT" value="Felvesz">
           </form>
       </div>

   </body>
   <%- include('assets/footer') %>
</html>
