<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
    </head>
    <header>
        <%- include('includes/header', {oldal: locals.oldal}) %>
    </header>
    <body>
        <div >
            <div>
                <p style="font-size:5vw; text-align: center;"><%- locals.cim %></p>

                <%- include('includes/table') %>


            </div>
        </div>

    </body>
    <%#- include('includes/footer') %>
</html>
