<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
    <%- include('includes/header', {oldal: oldal}) %>
    <body>
        <form action="/uploadKonyv" method="post">
            <label>
                ISBN szám: <input type="text" placeholder="isbn" name="isbn"
                /></label>
            <label>
                KiadóID: <input type="text" placeholder="kiadoid" name="kiado_id"
                /></label>
            <label>
                KategoriaID:
                <input type="text" placeholder="kategoriaID" name="kategoria_id"
                /></label>
            <label>
                Oldalszám: <input type="text" placeholder="oldalszám" name="oldalszam"
                /></label>
            <label>
                Kiadás dátuma:
                <input type="date" placeholder="kiadas datum" name="mikor"
                /></label>
            <label>
                Ar:
                <input type="text" placeholder="ar" name="ar"
                /></label>
            <label> Név: <input type="text" placeholder="név" name="nev"/></label>
            <button type="submit">Hozzáadás</button>
        </form>
    </body>
</html>
