form{
    margin: 1em;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a {
    color: #0366d6;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
a:link, a:active, a:visited{
    text-decoration: none !important;
    /*color: aqua; !important;*/
}
a:active{
    color: rgba(200, 200, 200, .9);
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
table, th, td {
    border: 1px solid black;
    padding: 1px;
}
table {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
}
.center{
    padding: 10px;
    border: 1px solid black;
    margin: auto;
}

.active {
    color: black;
}

#page-container {
    position: relative;
    height:auto;
    min-height: 80vh;
    font-size: 16px;
}

footer {
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    color: black;
    background-color: black !important;
}
.copyright{
    width: 100%;
    text-align: center;
    color: black;
    font-size: small;
    padding: 0;
    margin: 0;

}
.gomb{
    background-color: rgba(88,133,22,80);
    color: white;
    border: 0;
    border-radius: 4px;
}
.delete{
    background-color: red;
    color: white;
    border: 0;
    border-radius: 4px;
}

.hiba{
    background-color: red;
    padding: 0.8em;
    color: white;
    border-radius: 4px;
    width: 80%;
    margin: 20px auto 0 auto;
}
.siker {
    background-color: green;
    padding: 0.4em;
    color: white;
    border-radius: 4px;
    width: 80%;
    margin: auto;
}

.table thead th {
    border-bottom: none;
}

table{
    border: 1px solid black;
    padding: 1px;
}

td{
    border-right: 1px solid black;
    border-left: 1px solid black;
}

table {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    letter-spacing: 1px;
}
